{% extends "layout.html" %}
{% block content %}
<div class="row">
          <div class="col-lg-6">
            <h2>Bordered Table</h2>
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Kernel Name</th>
                    <th>Created</th>
                    <th>Subdomain</th>
                    <th>Root</th>
                  </tr>
                </thead>
                <tbody>
                {% for kernel in user_kernels %}
                  <tr>
                    <td>{{ kernel.name }}</td>
                    <td>{{ kernel.created }}</td>
                    <td>{{ kernel.subdomain }}</td>
                    <td>{{ kernel.root }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
{% endblock %}